<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css"
    rel="stylesheet"
    />

       <!-- Font Awesome -->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
       <!-- Google Fonts -->
       <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
       <!-- Bootstrap CSS -->
       <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
        <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <h2>Test Dashboard</h2>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saccos">Saccos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/liquidators">Liquidators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/daos">Daos</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <!-- Notifications -->
      <div class="dropdown">
        <a
          data-mdb-dropdown-init
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Something else here</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loans">loans</a>
          </li>
        </ul>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a
          data-mdb-dropdown-init
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            class="rounded-circle"
            height="25"
            alt="Black and White Portrait of a Man"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" href="#">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="container">
    <h2>Daos</h2>

    <ul class="list-group list-group-light">
        <% daos.forEach(function(dao) { %>
        
            <li class="list-group-item">
              <strong>DAO Name:</strong> <%= dao.name %><br>
              <strong>Wallet ID:</strong> <%= dao.wallet_id %><br><br>
              
              <!-- Add any other sacco details you want to display -->
              <h4>Dao Desposit List</h4>
                <ul class="list-group list-group-light">
                  <% if (dao.deposits !== null) { %>

                    <% var deposits = JSON.parse(dao.deposits); %>
                    <% deposits.forEach(function(deposit) { %>
                        <li class="list-group-item">
                            <strong>Amount:</strong> <%= deposit.amount %><br>
                            <strong>Is Fulfilled:</strong> <%= deposit.is_fulfilled %><br>
                        </li>
                    <% }); %>
                  <% } else { %>
                    <li class="list-group-item">No deposits</li>
                <% } %>
              </ul>

              <h4>Dao Loans List</h4>
              <ul class="list-group list-group-light">
                <% if (dao.loans !== null) { %>

                  <% var loans = JSON.parse(dao.loans); %>
                  <% loans.forEach(function(loan) { %>
                    <li> <strong>Sacco Borrower:</strong> Ksh <%= loan.sacco %><br></li>
                    <li>
                      <strong>Amount Given:</strong> Ksh <%= loan.amount %><br></li>
                      <li> <strong>Interest Rate:</strong> <%= loan.interest_rate %> %<br></li>
                      <li>  <strong>Repayment Amount:</strong> Ksh <%= loan.repayment_amount %><br></li>
                      <li><strong>Approved:</strong> <%= loan.is_approved %><br></li>
                      <li> <strong>Status:</strong> <%= loan.loan_status %><br></li>
                      <li> <strong>Paid Amount:</strong> <%= loan.repaid_amount %><br></li>
                      <li> <strong>Pending Blance:</strong> <%= loan.repayment_amount - loan.repaid_amount %><br></li>
                      
                      <li> <strong>Repayed:</strong> <%= loan.is_repaid_fulfilled %><br></li>

              
                  <li>
                  <% }); %>
                <% } else { %>
                  <li class="list-group-item">No deposits</li>
              <% } %>
            </ul>
            </li><br>
          <% }); %>
      </ul>

  </div>

</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
   <!-- MDB -->
   <script
   type="text/javascript"
   src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
   ></script>